{% extends "base.html" %}{% block title %}Home{% endblock %} {% block content %}

<script src="../static/js/input_buttons.js"></script>
<link rel="stylesheet" href="../static/css/reaction.css" />

<form method="POST">
  <h3>Enter Reaction in SMILES Notation</h3>
  <div id="reaction-group">
    <div id="reactant-group">
      <!-- <label for="reactant" class="font-weight-bold">Enter Reactants:</label> -->
      <input
        type="text"
        id="reactant"
        name="reactant-base"
        placeholder="Enter Reactant"
      />
      <img id="reactant-image" src="#" style="display: none" />
      <!-- <button type="button" id="reactant-button-add">+</button> -->
    </div>
    <div id="reagent-group">
      <input
        type="text"
        id="reagent"
        name="reagent-base"
        placeholder="Enter Reagent"
      />
      <img id="reagent-image" src="#" style="display: none" />
      <div class="arrow">⟶</div>
      <!-- <button type="button" id="reagent-button-add">+</button> -->
    </div>
    <div id="product-group">
      <input
        type="text"
        id="product"
        name="product-base"
        placeholder="Enter product"
      />
      <img id="product-image" src="#" style="display: none" />
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
